---
title: Changelog - Chatterino nightly
class: changelog
---
{% set links = read_json("links.json") %}

This contains the work-in-progress changelog for the next Chatterino release.

Changes listed here are available in the [nightly build]({{ links.nightly }}).

{% include 'changelog/nightly.j2' %}
