{% extends "page.j2" %}
{% block title %}404 - Chatterino{% endblock %}
{% block content %}
<div class="guide">
  <div class="section-center">
    <div class="section-content">
      <h1>404</h1>
      <div class="body-text">This page could not be found.</div>
    </div>
  </div>
</div>
{% endblock %}
