{% extends "page.j2" %}
{% block title %}Chatterino on FreeBSD{% endblock %}
{% block content %}
<div class="guide">
  <div class="section-center">
    <div class="section-content">
      <h1 class="guide-title">Chatterino on FreeBSD</h1>
      Chatterino2 is available in the ports tree.
      Run <code>pkg install chatterino2</code> to install it.
    </div>
  </div>
</div>
{% endblock %}
