<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="/logo.svg">
    <link rel="icon" href="/favicon.ico">
    <title>{% block title %}Chatterino{% endblock %}</title>
    <link rel="stylesheet" href="/styles/globals.css">
    {%- block head %}{% endblock %}
  </head>
  <body>
    <main class="app-main">{% block body %}{% endblock %}</main>
  </body>
</html>
