<div class="footer">
  <div class="section-center">
    <div class="section-content">
      <div class="footer-inner">
        <div>
          Chatterino is made by <a href="https://twitter.com/fourtf_xd">fourtf</a>,
          <a href="https://pajlada.se">pajlada</a>, and contributors.
        </div>
        <div>Design by <a href="https://twitter.com/smaczny">Smaczny</a></div>
      </div>
    </div>
  </div>
</div>
