## 2.0.2 (Released 2018-06-25)

- Fixed sometimes not being able to send messages.
    <by>fourtf</by>

- Added autocompletion for commands.

  <by>fourtf</by>

  <br />

  Fixed inline sent whispers marking all tabs.

  <by>fourtf</by>

- Fixed crash when selecting font.

  <by>fourtf</by>

- Fixed crash when selecting a channel to join.

  <by>fourtf</by>

- Added an info message when trying to send messages as anon.

  <by>pajlada</by>

- Fixed saving non-latin highlights, and copying weird smiley name.

  <by>pajlada</by>
