## 2.0.1 (Released 2018-06-24)

- Added support for the Chatterino browser extension.
    <by>fourtf</by>

- Fixed account and command list crashing when removing elements.

  <by>pajlada</by>

  <br />

  Added split header text color when the split is selected.

  <by>pajlada</by>

- Fixed showing whispers sent by the user inline.

  <by>DatGuy1</by>

- Fixed dragging the user info popup.

  <by>fourtf</by>

- Fixed /clear not greying messages out.

  <by>pajlada</by>

- Fixed tooltips being too big.

  <by>hemirt</by>
