## 2.1.5 (Released 2019-10-05)

- Added setting to restart Chatterino after a crash.

- The "access violation" issue in the windows installer related to
  "Rstrtmgr.dll" has been resolved.

- You can now pause the chat while a hotkey is down.

- You can now select a custom duration for pause-on-hover.

- Timeouts and notices now show properly.

- Scrollbar highlights now get refreshed when opening a popup/new split.

- Added experimental support for IRC (available in settings).
