## 2.1.4 (Released 2019-09-15)

- Settings and logs can now be searched!

- Added setting to open links in incognito by default.

- Added discord-style searching "from:username" and "has:link"

- Fixed highlights sometimes not playing sounds.

- Fixed random crashes related to caching.

- Minimized and maximized windows now get saved properly.

- Bits now show up properly.

- Ctrl+C now copies text in the search popup.
