## 2.1.1 (Released 2019-07-26)

- Fixed crash when removing accounts.

- Window border is now gray instead of white (in dark mode).

- Added settings:
  - Show each indiviual timeout, instead of combining them for each
    user.

  - Mention users with <b>,</b>

  - Added button to import commands from Chatterino 1.

- Reworked some settings to have more obvious and shorter wording.

- Browser extension:
  - Fixed issue where it didn't run properly.

  - Fixed fullscreen mode.

  - Update has been deployed in chrome and firefox webstores.
