## 2.1.3 (Released 2019-08-02)

- Added settings for beta updates.

- Fixed messages like "connected" not showing.

- Windows installer can now do a fresh install (deleting settings/cache).

- Windows uninstaller will now delete cache files.

- Fixed window size growing on restart.

- User popup: Added button to copy username and id.

- Added button to open AppData in the settings.
