## 2.1.0 (Released 2019-07-19)

- Major: Added support for viewing users logs from

  

  <a href="https://cbenni.com" target="_blank">
    cbenni.com
  </a>
  and
  <a href="https://overrustlelogs.net/" target="_blank">
    overrustlelogs.net
  </a>
  .<by>datguy1</by>

- Major: Recent messages now get loaded when joining a channel.

- Reordered settings.

- Added settings:
  - Pause gif emotes when the window is unfocused.

  - Unshorten links.

  - Show emote previews on hover.

  - Show link info on hover.

  - Exclude users from highlights.

  - More sophisticated ignores.

- Updated installer/update system.

- Fixed double window frames.

  <br />

  Added tabs in the emote popup.

  <by>fourtf</by>

- Added an option to display all domains in all-lowercase. (anti scam)

  <by>datguy1</by>

- Added update button to the titlebar instead of showing message boxes.

  <by>fourtf</by>

- Added style setting for last message indicator

  <by>hemirt</by>

- Improved link matching.

  <by>lajamerr</by>

- Fixed a bug where you would have to start chatterino before the
  browser would
  break the extension.
  <by>fourtf</by>
