## 2.2.0 (Released 2020-08-23)

- Major: Emotes can now be completed by typing : in chat.

- Major: Added support for messages redeemed with channel points on twitch.
  However they can only be viewed and not redeemed in chatterino.

- Major: The users most recent messages are now shown in the user popup.

- Major: Tabs can now be displayed on the left side of the window instead of
  the top.

- An image uploader service can now be configured. After configuration
  you can drag images into chatterino or paste them.

- The link preview can now show images of the website. This can be
  enabled in the settings.

- A Streamer Mode was added. It hides user content while "obs" is
  running.

- Added extension support for the chromium based browsers Brave, Vivaldi
  and Microsoft Edge.

- Opening links in incognito mode now works with Microsoft Edge.

- "Online Logs" has been removed as services have shut down.
