## 2.5.6 (Released 2026-10-04) {#2.5.6}

### Emote loading fix {#2.5.6-emote-loading-fix}

<div class="changelog-entry">

This release fixes emotes not loading properly.

<br>

Note: This version has only been released on Windows and macOS.

</div>
