## 2.5.5 (Released 2026-03-22) {#2.5.5}

### Lead Moderator support {#2.5.5-lead-moderator}

<div class="changelog-entry">

This release improves support for the Lead Moderator role.

Unfortunately, many of the features of the Lead Moderator can only be performed through the Twitch website and not through third party applications like Chatterino.

{{ credit(author="Juliapixel, jupjohn", helper="pajlada", prs="6642, 6665") }}

</div>

### Slow Mode counter {#2.5.5-slow-mode-counter}

<div class="changelog-entry">

Added a countdown timer to the input box to show when you can chat again during slow mode or after you've been timed out.  
This feature is disabled by default, and can be enabled with the "Show countdown on slow mode or when timed out" setting.

{{ figure("/img/changelog/2.5.5/countdown.png") }}

{{ credit(author="achow101", helper="Nerixyz, pajlada", prs="6782, 6791") }}

</div>

### Unicode 17.0 emojis {#2.5.5-unicode-17-emojis}

<div class="changelog-entry">

Added support for <a
href="https://www.unicode.org/emoji/charts-17.0/emoji-released.html">Unicode
17.0 emojis</a>.

{{ figure("/img/changelog/2.5.5/unicode-17-emojis.png") }}

{{ credit(author="Nerixyz", prs="6471") }}

</div>

### Experimental spell checking {#2.5.5-spell-checking}

<div class="changelog-entry">

Added experimental spell checker support. Unless you're on Linux, this
currently requires you to bring your own dictionary.

We intend to explore the possibility of including some common dictionaries
into Chatterino so you don't have to bring your own.

You can find all spell checker options under the <strong>External tools</strong> settings page.

{{ figure("/img/changelog/2.5.5/spellcheck.png") }}

{{ credit(author="Nerixyz, 4rneee", helper="pajlada, 2547techno", prs="6446, 6703, 6722, 6730, 6731, 6779, 6780, 6822, 6751") }}

</div>

### Polls, predictions, and suspicious users {#2.5.5-polls-predictions-sus-users}

<div class="changelog-entry">

Streamers can now use `/poll`, `/cancelpoll`, and `/endpoll` to manage polls inside Chatterino.

<br />

Examples:

- Start a poll for what game to play:  
  `/poll --title "what game to play today" --duration 60 --choice "expedition 33" --choice "eu5" --choice "disco elysium" --points 69`
- Cancel the poll you just started:  
  `/cancelpoll`
- End the poll, preventing further votes from coming in and showing some poll information in chat:  
  `/endpoll`

{% filter callout("note") %}
  If you would like this feature for moderators, please see
  <a href="https://twitch.uservoice.com/forums/310213-developers/suggestions/43347684-allow-channel-moderators-to-control-polls-predicti">this Twitch UserVoice</a>.
{% endfilter %}

{{ credit(author="iProdigy", helper="Nerixyz, pajlada", prs="6583, 6605") }}

</div>

<div class="changelog-entry">

Streamers can now use `/prediction`, `/cancelprediction`, `/lockprediction`, and `/completeprediction` to manage predictions inside Chatterino.

<br />

Examples:

- Start a prediction for what programming language to use:  
  `/prediction --title "what lang will i use today" --duration 5m --choice "golang" --choice "kotlin" --choice "rust"`
- Lock the prediction votes early:  
  `/lockprediction`
- Cancel the prediction, refunding all points:  
  `/cancelprediction`
- Complete the prediction, declaring a winner:  
  `/completeprediction --choice "rust"`

{% filter callout("note") %}
  If you would like this feature for moderators, please see
  <a href="https://twitch.uservoice.com/forums/310213-developers/suggestions/43347684-allow-channel-moderators-to-control-polls-predicti">this Twitch UserVoice</a>.
{% endfilter %}

{{ credit(author="iProdigy", helper="Nerixyz, pajlada", prs="6583, 6612, 6632, 6749") }}

</div>

<div class="changelog-entry">

Streamers and moderators can now use `/monitor`, `/unmonitor`, `/restrict`, and `/unrestrict` to control the suspicious chatter list from Chatterino.

<br />

Examples:

- Restrict forsen from chatting:  
  `/restrict forsen`

{{ credit(author="iProdigy", prs="6750, 6785") }}

</div>

### Emoji categories {#2.5.5-emoji-categories}

<div class="changelog-entry">

The emote popup now includes categories for the emoji list.

{{ figure("/img/changelog/2.5.5/emoji-categories.png") }}

{{ credit(author="treejadey", prs="6598") }}

</div>

### BetterTTV Pro badge support {#2.5.5-betterttv-pro-badges}

<div class="changelog-entry">

Your BetterTTV Pro subscriber badge is now visible in Chatterino.

{{ figure("/img/changelog/2.5.5/betterttv-badge.png") }}

{{ credit(author="Nerixyz", helper="pajlada", prs="6625, 6724") }}

</div>

### Search {#2.5.5-search}

<div class="changelog-entry">

You can now search the selected text with a search engine of
your choice. See the "Enable search in right-click context" setting and its
accompanying options/preset search engines.

{{ figure("/img/changelog/2.5.5/search-context-menu.png") }}

{{ credit(author="leafyzito", helper="4rneee, pajlada", prs="6743, 6770") }}

</div>

### Watch streak {#2.5.5-watch-streak}

Watch streaks are now seperated from subscriptions in highlights and filters.

<br />

#### Example filters:

- Hide watch streak notifications, including the message the user sent: `!flags.watch_streak`
- Hide watch streak notifications, but show the message the user sent: `!(flags.watch_streak && message.content contains "consecutive streams this month and sparked a watch streak")`

{{ figure("/img/changelog/2.5.5/watch-streak-filter.png", caption="Showing off the two example filters in action") }}

{{ credit(author="devPoland, pajlada", prs="6571, 6581, 6841") }}

### Miscellaneous features {#2.5.5-miscellaneous-features}

<div class="changelog-entry">

- You can now control the character limit of deleted messages with the "Limit length of deleted messages" setting. {{ credit(author="jacob-thompson", prs="6491", inline=true) }}

- You can now right-click any tab and sort your tabs by name alphabetically. This is an action, not a setting meaning if you want to sort your tabs again, you have to click the sort action again. {{ credit(author="teknsl, ruinivist", helper="Nerixyz, pajlada", prs="6551, 6710", inline=true) }}

- You can now close multiple tabs at the same time (e.g. close other tabs, or close tabs to the right) {{ credit(author="otaviobia", helper="jupjohn", prs="6515, 6619", inline=true) }}

- You can now customize the /live messages to include the stream title. {{ credit(author="Julia-Roman", prs="6572", inline=true) }}

- You can now pre-define the title & duration of a clip (Usage: `/clip --duration 10 the title`). {{ credit(author="iProdigy", prs="6669", inline=true) }}

- You can now create a filter based on the author's external badges. (e.g.
  `author.external_badges contains "chatterino:Top Donator"` or
  `author.external_badges contains "frankerfacez:bot"`) {{ credit(author="achow101, pajlada", prs="6709", inline=true) }}

- You can now use Markdown in user notes. {{ credit(author="jacob-thompson", helper="pajlada, Nerixyz", prs="6490, 6676", inline=true) }}

- You can now reset the channel in the `/watching` chat. {{ credit(author="Nerixyz", prs="6759", inline=true) }}

- Follower-mode duration now displays as hours or days if possible. {{ credit(author="Nerixyz", prs="6812", inline=true) }}

- You can now keep the sound backend alive if you're noticing issues with highlights not playing their first sound. {{ credit(author="pajlada", prs="6859", inline=true) }}

</div>

### Plugins {#2.5.5-plugins}

<div class="changelog-entry">

In this update, plugins can make use of several new APIs:

- **Access and modify messages in channels**: New methods like
  [`Channel:message_snapshot`](https://github.com/Chatterino/chatterino2/blob/v2.5.5/docs/wip-plugins.md#channelmessage_snapshotn_items) allow plugins to retrieve all messages available in a channel. The returned
  [`c2.Message`](https://github.com/Chatterino/chatterino2/blob/v2.5.5/docs/wip-plugins.md#message)s can be queried (e.g. accessing individual elements). Except for their flags,
  messages in a channel can't be modified. However, you can replace messages in channels ([`Channel:replace_message`](https://github.com/Chatterino/chatterino2/blob/v2.5.5/docs/wip-plugins.md#channelreplace_messagemessage-replacement-hint)).

  {{ credit(author="Nerixyz", helper="Mm2PL, pajlada", prs="6353, 6650", inline=true) }}

- **Add links to message elements**: Many message elements in Chatterino can now have a link attached to them.
  These links can open a usercard, jump to a message, copy text, and more.

  {{ credit(author="Mm2PL", helper="Nerixyz, pajlada", prs="6386, 6527", inline=true) }}

- **Parse and serialize JSON**: Many APIs communicate through JSON. To avoid having to include a third party library
  every time, Chatterino now provides a built-in
  [`chatterino.json`](https://github.com/Chatterino/chatterino2/blob/v2.5.5/docs/wip-plugins.md#json-api) module that you can `require()`.

  {{ credit(author="Nerixyz", helper="Mm2PL, pajlada", prs="6420, 6530", inline=true) }}

- **Get the current Twitch account**:
  [`c2.current_account()`](https://github.com/Chatterino/chatterino2/blob/v2.5.5/docs/wip-plugins.md#current_account) gives you the currently logged in account and its ID.

  {{ credit(author="Nerixyz", helper="Mm2PL, pajlada", prs="6554, 6675", inline=true) }}

- **Traceback for protected calls**: When a function fails in protected mode with [`pcall`](https://www.lua.org/manual/5.4/manual.html#pdf-pcall),
  you often want to get a stack trace of where the error happened.
  To help with this, we now include [`debug.traceback`](https://www.lua.org/manual/5.4/manual.html#pdf-debug.traceback).
  You can pass this as the second argument to [`xpcall`](https://www.lua.org/manual/5.4/manual.html#pdf-xpcall).

  {{ credit(author="Nerixyz", helper="Mm2PL, pajlada", prs="6652", inline=true) }}

- **Display name change events**: Plugins can now get notified when the display name of a channel changes with
  [`Channel:on_display_name_changed`](https://github.com/Chatterino/chatterino2/blob/v2.5.5/docs/wip-plugins.md#channelon_display_name_changedcb).

  {{ credit(author="Nerixyz", helper="Mm2PL, pajlada", prs="6594", inline=true) }}

</div>

<div class="changelog-entry">

Some fixes to plugins:

- Fixed Lua errors from handlers of HTTP requests not being logged. {{ credit(author="Nerixyz", prs="6452", inline=true) }}

 </div>

The LuaLS meta files moved from `docs/plugin-meta.lua` to [`docs/lua-meta/globals.lua`](https://github.com/Chatterino/chatterino2/blob/v2.5.5/docs/lua-meta/globals.lua) because of the new JSON module, which has a separate meta file.

<br />

If you have ideas for plugins, check out [this
discussion](https://github.com/Chatterino/chatterino2/discussions/4999). For
an overview of proposed features, check out [the graph in this
comment](https://github.com/Chatterino/chatterino2/discussions/4999#discussioncomment-14093379).

<br />

You can find technical documentation for plugins
[here](https://github.com/Chatterino/chatterino2/blob/v2.5.5/docs/wip-plugins.md).

### Stability {#2.5.5-stability}

Various changes made to the stability of Chatterino.

<div class="changelog-entry">

- Fixed a crash that could occur when network requests were loading/saving cache as Chatterino was being shut down. {{ credit(author="pajlada", prs="6698", inline=true) }}
- Fixed a crash that could occur when closing Chatterino with a slow network connection. {{ credit(author="Nerixyz", prs="6645", inline=true) }}
- Improved setting stability. {{ credit(author="pajlada, Nerixyz", helper="Mm2PL", prs="6620, 6662", inline=true) }}

</div>

### Miscellaneous fixes {#2.5.5-miscellaneous-fixes}

<div class="changelog-entry">

- Fixed mnemonic menu hotkeys not working on macOS. {{ credit(author="Leafyzito", prs="6778", inline=true) }}
- Fixed Return and Enter being treated as different keys on macOS. {{ credit(author="Nevicar", prs="6729", inline=true) }}
- Moderators and VIPs in shared chats now show their channel badges. {{ credit(author="jupjohn", prs="6653", inline=true) }}
- Badges now link to their home page like emotes in the context menu. {{ credit(author="Nerixyz", prs="6437", inline=true) }}
- Fixed usercard sometimes sizing itself improperly. {{ credit(author="teknsl", prs="6496", inline=true) }}
- Consolidate font picking into one dialog. {{ credit(author="teknsl, pajlada", helper="Nerixyz", prs="6531", inline=true) }}
- The "edit hotkey" dialog now opens like a normal window. {{ credit(author="jupjohn", prs="6540", inline=true) }}
- The "Extra extension IDs" setting is now exposed to all operating systems. {{ credit(author="crazysmc", helper="pajlada", prs="6509", inline=true) }}
- Fixed some commands and filters not working as expected in search popups. {{ credit(author="Nerixyz", prs="6539", inline=true) }}
- Fixed an issue where occasionally the "Manage Accounts" button in the account switcher would do nothing. {{ credit(author="Nerixyz", prs="6543", inline=true) }}
- Fixed font changes not always updating immediately. {{ credit(author="teknsl", helper="Nerixyz", prs="6536", inline=true) }}
- Fixed the "Restore" button not showing on Windows. {{ credit(author="Nerixyz", prs="6565", inline=true) }}
- Fixed custom player URIs for external players not always working due to URL percent-encoding. {{ credit(author="SonicSegFault", prs="6725", inline=true) }}
- Fixed middle-clicking usernames in a local channel opening an invalid viewercard. {{ credit(author="Julia-Roman", prs="6577", inline=true) }}
- The "Your username (automatic)" highlight now correctly updates if you've changed your username. {{ credit(author="SonicSegFault", helper="Nerixyz, pajlada", prs="6723, 6739", inline=true) }}
- Fixed some tab-completion inconsistencies when the completion included emojis. {{ credit(author="ruinivist", prs="6800", inline=true) }}
- Improved loading of the Twitch blocked users list for users with poor internet connections. {{ credit(author="Obertura777", prs="6846", inline=true) }}
- Notify the user if the update fails in a portable installation if the updater is not present. {{ credit(author="Nerixyz", prs="6801", inline=true) }}
- Fixed WebSocket connection issues with IPv6. {{ credit(author="pajlada, Nerixyz", prs="6631, 6804", inline=true) }}
- Improved WebSocket connection retries on Windows. {{ credit(author="Nerixyz", prs="6805", inline=true) }}
- Fixed popups and the overlay not being draggable on Wayland. {{ credit(author="Nerixyz", prs="6573", inline=true) }}
- Linux notifications now have a `desktop-entry` hint added to them. {{ credit(author="teknsl", prs="6615", inline=true) }}
- Better described moderation logging options. {{ credit(author="Nikk0o", helper="Nerixyz, jupjohn, pajlada", prs="6514", inline=true) }}
- Fixed scrollbar rect computation potentially resulting in overflows. {{ credit(author="Nerixyz", prs="6547", inline=true) }}
- Fixed a rare issue that could stop your Twitch subscription emotes from loading. {{ credit(author="pajlada", prs="6860", inline=true) }}

</div>

### Packaging {#2.5.5-packaging}

<div class="changelog-entry">

- The oldest supported Qt version is now `6.7.1`. This likely only impacts macOS older than 10.15 which is no longer supported. {{ credit(author="pajlada", prs="6628", inline=true) }}
- We no longer support Ubuntu 20.04. {{ credit(author="pajlada", prs="6630", inline=true) }}
- We no longer support AppImage builds. {{ credit(author="pajlada", prs="6504", inline=true) }}
- Added a CMake option `CHATTERINO_EXTRA_BUILD_STRING` which allows the packager to provide an optional freestanding Qt-HTML string that shows up in the About page under the Chatterino version. {{ credit(author="pajlada", prs="6766", inline=true) }}
- Chatterino now requires C++23. {{ credit(author="pajlada", prs="6693", inline=true) }}
- Nightly builds no longer use the `modes` file to know they are nightly, a new build option is used: `CHATTERINO_NIGHTLY_BUILD`. {{ credit(author="pajlada", prs="6798", inline=true) }}

</div>

### New Contributors {#2.5.5-new-contributors}

<div class="changelog-entry">

Thank you to everyone who helped with this release, especially the new contributors:

{{ github_user("Nikk0o") }},
{{ github_user("Julia-Roman") }},
{{ github_user("devPoland") }},
{{ github_user("solomoncyj") }},
{{ github_user("vxtk") }},
{{ github_user("Juliapixel") }},
{{ github_user("ruinivist") }},
{{ github_user("SonicSegFault") }},
{{ github_user("Nevicar") }},
{{ github_user("Leafyzito") }}, and
{{ github_user("achow101") }}.

</div>
