@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-lg;
  }

  a {
    @apply underline;
  }

  td {
    @apply px-4;
    @apply py-2;
    @apply border;
    @apply border-gray-500;
  }

  .changelog h1 {
    @apply my-6;
  }

  .changelog h2 {
    @apply my-4;
  }

  .changelog li {
    @apply my-1;
    @apply ml-4;
  }

  .changelog li > ul > li {
    @apply my-1;
  }
}

.changelog ul {
  @apply ml-4;
  list-style-type: disc;
}

.changelog ul > li > ul {
  @apply ml-4;
  list-style-type: circle;
}

@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans-Regular.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;

  background: #000;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

button {
  outline: none !important;
}

/* hack */
#chatprop-host > * {
  width: 100%;
}

.carousel {
  max-width: 800px;
  margin: auto !important;
}

.slide {
  background: transparent !important;
}

by {
  display: none;
}
