@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-lg;
  }

  a {
    @apply underline;
  }

  td {
    @apply px-4;
    @apply py-2;
    @apply border;
    @apply border-gray-500;
  }

  .changelog {
    @apply mx-6;
  }

  .changelog h1 {
    @apply my-6;
  }

  .changelog h2 {
    @apply my-4;
  }

  .changelog h3 {
    @apply mt-6;
    @apply mb-2;
    @apply font-bold;
    @apply text-cyan-100;
  }

  .changelog div.changelog-entry {
    @apply ml-3;
  }

  .changelog li {
    @apply my-1;
    @apply ml-4;
  }

  .changelog .gh-author {
    @apply font-bold whitespace-nowrap underline-offset-2;
  }

  .changelog .gh-avatar {
    @apply ml-px mr-1 mb-1 inline-block max-w-full overflow-hidden align-middle;
    width: 18px;
    height: 18px;
    box-shadow: 0 0 0 1px #ffffff26;
    line-height: 1;
    border-radius: 50%;
  }

  .changelog figure {
    @apply flex flex-col items-start my-4;
  }

  .changelog figcaption {
    @apply my-4 max-w-96 text-gray-300 italic text-center;
  }

  .changelog code {
    @apply m-0 whitespace-break-spaces bg-gray-900 rounded-md;
    padding: 0.25em 0.4em;
    font-size: 90%;
  }

  .changelog kbd {
    @apply m-0 whitespace-break-spaces bg-gray-900 border-gray-600 border border-b-2 rounded-sm;
    padding: 0.2em 0.5em;
    font-size: 75%;
  }

  .changelog li > ul > li {
    @apply my-1;
  }
}

.changelog ul {
  @apply ml-4;
  list-style-type: disc;
}

.changelog ul > li > ul {
  @apply ml-4;
  list-style-type: circle;
}

@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans-Regular.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    "Noto Sans",
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif !important;

  background: #000;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

button {
  outline: none !important;
}

/* hack */
#chatprop-host > * {
  width: 100%;
}

.carousel {
  max-width: 800px;
  margin: auto !important;
}

.slide {
  background: transparent !important;
}

by {
  display: none;
}
