---
name: Build

on:
  push:
    branches: ["master", "main"]
  pull_request:

concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version-file: "package.json"
          cache: "yarn"

      - name: Run Cloudflare build
        run: |
          yarn install
          yarn run cloudflare-build

      - name: Upload output files
        uses: actions/upload-artifact@v6
        with:
          name: Output Files
          path: out/*
